$font--primary: 'Oxygen', sans-serif;
$font--secondary: 'Merriweather', serif;

$border-width: 4px;

$num-sides: 8;
$theta: 360 / $num-sides;

$background-height: 400px;


html {
    font-size: 17px;
}

@media (max-width: 900px) {
    html { font-size: 15px; }
}

@media (max-width: 400px) {
    html { font-size: 13px; }
}

h1 {
    font-size: 3rem;
}

h2 {
    font-size: 2.5rem;
}

h3 {
    font-size: 2rem;
}