@import "lib/gumby/gumby";
@import "compass";
@import "compass/css3/transition";

@import "settings";

@import "fonts";

$border-length: 10px;

// Bagua dimensions
$num-sides: 8;
$diameter--outer: 500px;
$diameter--inner: 300px;
$theta: 360 / $num-sides;

// Trigram dimensions
$trigram-width: $diameter--outer / 4; // @TODO: Arbitrary
$icon-width--bagua: $trigram-width / 2;
$icon-width--featured: $trigram-width / 2;
$trigram-line-height: 1px;
$trigram-margin-bottom: 10 * $trigram-line-height;
$trigram-height: 3 * ($trigram-line-height + $trigram-margin-bottom) + $icon-width--bagua;
$trigram-delta: $diameter--inner - 1.5 * $trigram-height;

.trigram {
        text-align: center;

        &.active .icon {
                @include transform(translateY(-130px) scale(3));
        }
}

.trigram__line {
        height: $trigram-line-height;
        margin: 0 auto;
        margin-bottom: $trigram-margin-bottom;

        position: relative;
        z-index: 10;

        @for $i from 1 through 3 {
                &:nth-of-type(#{$i}) {
                        width: (30% * $i);
                }
        }

        &:before,
        &:after {
                @include transition(width 200ms);

                width: 50%;
                height: $trigram-line-height;

                position: absolute;
                z-index: 15;

                background-color: $black;
                content: "";
        }

        &:before {
                left: 0;
        }

        &:after {
                right: 0;
        }
}

.trigram__line--yin {
        &:before,
        &:after {
                width: 40%;
        }
}

.baguajing {
        @include transition(transform 200ms);

        width: $diameter--outer;
        height: $diameter--outer;
        margin: 0 auto;

        position: relative;

        .trigram {
                width: $trigram-width;
                height: $trigram-height;
                margin-left: -$trigram-width / 2;
                margin-top: -$trigram-height / 2;

                position: absolute;
                left: 50%;
                top: 50%;
        }

        @for $i from 1 through $num-sides {
                $deg: ($i - 1) * $theta;

                &.spun--#{$i} {
                        @include transform(rotate(-#{$deg}deg));
                }

                .trigram:nth-child(#{$i}) {
                        @include transform(rotate(#{$deg}deg) translate3d(0, #{$trigram-delta}, 0));
        	}
        }

        .icon {
                width: $icon-width--bagua;
                height: $icon-width--bagua;

                font-size: $icon-width--bagua;
                color: $black;
        }
}