@import "lib/gumby/gumby";
@import "compass";

@import "settings";

@import "fonts";

.main-content {
	@include padding-leader(2);

	@media #{$medium-up} {
		@include padding-leader(6);
	}
}

.tiles--scripted {

	&:hover {
		color: #888;
	}

	i {
		@include fancytiles(4, 4, 1);
		@extend %kaofont;

		text-align: center;
		font-size: 8em;
		font-size: 50vw;

		@media #{$medium-up} {
			font-size: 8em;
			font-size: 12vw;
		}
	}
}

.character-list li {
        @include fancytiles(3, 1, 1);
        @include margin-leader(4);
        @include margin-trailer(4);
}
