@charset "UTF-8";

@import "reset";
@import "settings";
@import "animations";

@import "utilities/alignment";
@import "core/typography";
@import "components/bagua";

.icon {
    border: 40px inset;
    border-left: 0;
    border-bottom: 0;
    margin: 0 4px 8px 0;

    outline: 1px solid #f0f0f0;
    color: white;

    &:hover {
        border-style: outset;
    }
}

////////////////////////////////////////////////// Mode definitions
.daytime {
    color: black;

//    animation: whiteout 800ms 200ms;
//    animation-fill-mode: forwards;
}

.nighttime {
    color: white;

    animation: blackout 800ms 200ms;
    animation-fill-mode: forwards;
}

.clock {
    font-family: $font--primary;
    font-size: 1.5em;
    font-weight: 100;
}

.division {
    .icon {
        display: inline-block;

        font-size: 4em;
    }
}

.division {
    margin-bottom: 6rem;

    &.emphatic {
        transition: background-color 200ms;

        @each $mode, $mode-dimensions in $mode-configuration {
            .#{$mode} & {
                background-color: map-get($mode-dimensions, emphatic-background);
            }
        }
    }

    &.navigation {
        height: $background-height;
    }

    &.tapestry {
        $tapestry-border: 4px double black;

        width: 50%;
        height: 100px;
        border-top: $tapestry-border;
        border-left: $tapestry-border;
        border-right: $tapestry-border;
        margin: 0 auto;

        position: relative;
        overflow: hidden;

        transition: height 200ms;

        &:last {
            border-bottom: $tapestry-border;
        }

        &:hover {
            height: 300px;
        }
    }
}

.icon {
    @extend %font--primary;
}

.painting {
    position: relative;
    top: -50%;

    svg {
        fill: #222222;
    }
}

.target {
    display: inline-block;
    position: relative;

    &.current {
        .icon {
            color: gray;
        }

        &:before {
            background-color: black;
        }
    }

    &:before,
    &:after {
        position: absolute;
        top: 50%;
        left: 50%;

        content: "";
        border-radius: 50%;
        opacity: 0;

        pointer-events: none;
    }

    &:before {
        $diameter: 220px;
        $border-width: 2px;

        width: $diameter;
        height: $diameter;
        border: $border-width dashed black;
        margin-left: -($diameter + $border-width) / 2;
        margin-top: -($diameter + $border-width) / 2;

        transform: translateX(-($diameter + $border-width) / 2);
        background-color: transparent;
    }

    &:after {
        $diameter: 250px;
        $border-width: 4px;

        width: $diameter;
        height: $diameter;
        border: $border-width solid black;
        margin-left: -($diameter + $border-width) / 2;
        margin-top: -($diameter + $border-width) / 2;

        transform: translateX(($diameter + $border-width) / 2);
    }

    &:hover {
        &:before,
        &:after {
            opacity: 1;
            transform: translateX(0);
            transition: opacity 200ms, transform 200ms;
        }
    }

    .icon {
        margin-bottom: -45px;

        font-size: 200px;
        color: #bbb;
    }
}