extends ../layouts/default

block map
  .map__content
    each row in data.map
      .map__row
        each room in row
          - var modifier = ''
          - if (!room) modifier += 'room--empty'
          - if (room === 'a') modifier += ' room--current'
          .map__room.framed.framed--square(class="#{modifier}")
            if room
              | #{room}
