each gif in data
  .video--sexy(style="width: #{gif.images.fixed_height.width}px; height: #{gif.images.fixed_height.height}px; display: inline-block; background-repeat: no-repeat; background-image: url(#{gif.images.fixed_height.url})")