.header {
  padding-top: $gutter-width;
}

.inventory-trigger {
  $diameter--outer: 40px;
  width: $diameter--outer;
  height: $diameter--outer;

  position: relative;

  cursor: pointer;
  transition: transform 200ms;

  &:hover,
  &.active {
    transform: rotate(90deg);
  }

  &.active {
    .ring--outer {
      background-color: $red;
    }

    .ring--middle,
    .ring--inner {
      border-color: $white;
    }
  }

  &.ping .ring--inner {
    animation: ping 500ms;
  }

  .ring {
    border: 1px solid $red;

    position: absolute;

    transition: background-color 200ms, border-color 200ms;
    border-radius: 50%;
  }

  .ring--outer {
    $diameter: 100%;

    width: $diameter;
    height: $diameter;
    border-top: 0;
    border-bottom: 0;

    animation: zoom-in 1000ms;
    animation-fill-mode: forwards;
  }

  .ring--middle {
    $diameter: 75%;
    $offset: (100% - $diameter) / 2;

    width: $diameter;
    height: $diameter;
    border-left: 0;
    border-right: 0;

    left: $offset;
    top: $offset;

    animation: zoom-in 2000ms;
    animation-fill-mode: forwards;
  }

  .ring--inner {
    $diameter: 50%;
    $offset: (100% - $diameter) / 2;

    width: $diameter;
    height: $diameter;
    border-top: 0;
    border-bottom: 0;

    left: $offset;
    top: $offset;

    animation: zoom-in 3000ms;
    animation-fill-mode: forwards;
  }
}

.inventory {
  $height: 200px;

  width: 100%;
  height: $height;

  position: fixed;
  bottom: 0;
  left: 0;

  background-color: $white;
  transform: translateY($height);
  transition: transform 400ms $slide-cubic;

  &.shown {
    transform: translateY(0);
  }

  hr {
    height: 1px;

    background-color: $black;
  }
}
