$vertical-rhythm: 40px;

////////////////////////////////////////////////// Breakpoints
$breakpoints: (small, medium, large);

$breakpoint--small: (
    maximum: 479px
);
$small-only: 'only screen and (max-width: #{map-get($breakpoint--small, maximum)})';
$small-up: 'only screen';

$breakpoint--medium: (
    minimum: 480px,
    maximum: 767px
);
$medium-down: 'only screen and (max-width: #{map-get($breakpoint--medium, minimum)})';
$medium-only: 'only screen and (min-width: #{map-get($breakpoint--medium, minimum)}) and (max-width: #{map-get($breakpoint--medium, maximum)})';
$medium-up: 'only screen and (min-width: #{map-get($breakpoint--medium, minimum)})';

$breakpoint--large: (
    minimum: 768px
);
$large-down: 'only screen and (max-width: #{map-get($breakpoint--large, minimum)})';
$large-up: 'only screen and (min-width: #{map-get($breakpoint--large, minimum)})';

////////////////////////////////////////////////// Colors
$white: #ffffff !global;
$black: #000000 !global;
$red: #b90000 !global;
