$white: #ffffff !global;
$black: #000000 !global;
$red: #b90000 !global;

////////////////////////////////////////////////// Default styles
html,
body {
    height: 100%;
    min-height: 100%;

    overflow-x: hidden;
}

html {
    background: white url('/target/image/splat.png') no-repeat;
    background-position: right top;
}

a {
    color: $red;
    cursor: pointer;

    &:hover {
        text-decoration: line-through;
    }
}

.main {
    opacity: 0;

    animation: fade-in 800ms 1000ms;
    animation-fill-mode: forwards;
}
