
@charset 'UTF-8';

@import url(http://fonts.googleapis.com/css?family=IM+Fell+English+SC|IM+Fell+English);
$font--header: 'IM Fell English SC', serif;
$font--content: 'IM Fell English', serif;

@import 'reset';
@import 'settings';
@import 'animations';

@import 'core/typography';

@import 'utilities/alignment';
@import 'utilities/hauntings';

@import 'layout/clearfix';
@import 'layout/grid';
@import 'layout/divider';

$slide-cubic: cubic-bezier(0.165, 0.84, 0.44, 1);

////////////////////////////////////////////////// Default styles
html,
body {
    overflow-x: hidden;
}

a {
    color: $red;
    text-decoration: none;

    &:hover,
    &:active {
        text-decoration: none;
    }
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
span {
    word-break: break-word;
}

h1,
h2 {
    font-family: $font--header;
}

h3,
h4,
h5,
h6 {
    font-family: $font--content;
    margin-bottom: 0.8em;
}

p,
span {
    margin-bottom: 1.4em;

    font-family: $font--content;
    line-height: 1.5;
    word-break: break-word;
}

.main {
    opacity: 0;

    animation: fade-in 800ms 1000ms;
    animation-fill-mode: forwards;
}

////////////////////////////////////////////////// Text styles (textiles ~~~)

.redacted {
    background-color: $black;
    color: $black;
}

////////////////////////////////////////////////// Corruptions/hauntings
.photo {
    width: 150px;
    height: 150px;
    margin: 0 auto;

    background-size: contain;
    background-repeat: no-repeat;

    @media #{$medium-only} {
        width: 200px;
        height: 200px;
    }
}

////////////////////////////////////////////////// Clock
.clock {
    height: 200px;

    display: flex;
    flex-direction: row;
    align-items: center;
    position: relative;

    &:after {
        width: 1px;
        height: 100%;

        position: absolute;
        left: 50%;

        background-color: $black;
        content: '';
    }

    .clock__division {
        flex-grow: 1;
        flex-basis: 0;

        &:first-child {
            margin-right: $gutter-width / 2;
        }

        &:last-child {
            margin-left: $gutter-width / 2;
        }
    }

    .clock__time {
        display: block;

        font-family: $font--header;
        font-size: 3em;

        animation: fade-in-slide-down $slide-cubic 1000ms;
        animation-fill-mode: forwards;
    }

    .clock__message {
        margin-bottom: 0;

        font-family: $font--content;

        animation: fade-in-slide-up $slide-cubic 1000ms;
        animation-fill-mode: forwards;
    }
}

////////////////////////////////////////////////// Inventory
.header {
    padding-top: $gutter-width;
}

.inventory-trigger {
    $diameter--outer: 40px;
    width: $diameter--outer;
    height: $diameter--outer;

    position: relative;

    cursor: pointer;
    transition: transform 200ms;

    &:hover,
    &.active {
        transform: rotate(90deg);
    }

    &.active {
        .ring--outer {
            background-color: $red;
        }

        .ring--middle,
        .ring--inner {
            border-color: $white;
        }
    }

    &.ping .ring--inner {
        animation: ping 500ms;
    }

    .ring {
        border: 1px solid $red;

        position: absolute;

        transition: background-color 200ms, border-color 200ms;
        border-radius: 50%;
    }

    .ring--outer {
        $diameter: 100%;

        width: $diameter;
        height: $diameter;
        border-top: 0;
        border-bottom: 0;

        animation: zoom-in 1000ms;
        animation-fill-mode: forwards;
    }

    .ring--middle {
        $diameter: 75%;
        $offset: (100% - $diameter) / 2;

        width: $diameter;
        height: $diameter;
        border-left: 0;
        border-right: 0;

        left: $offset;
        top: $offset;

        animation: zoom-in 2000ms;
        animation-fill-mode: forwards;
    }

    .ring--inner {
        $diameter: 50%;
        $offset: (100% - $diameter) / 2;

        width: $diameter;
        height: $diameter;
        border-top: 0;
        border-bottom: 0;

        left: $offset;
        top: $offset;

        animation: zoom-in 3000ms;
        animation-fill-mode: forwards;
    }
}

.inventory {
    $height: 200px;

    width: 100%;
    height: $height;

    position: fixed;
    bottom: 0;
    left: 0;

    background-color: $white;
    transform: translateY($height);
    transition: transform 400ms $slide-cubic;

    &.shown {
        transform: translateY(0);
    }

    hr {
        height: 1px;

        background-color: $black;
    }
}

////////////////////////////////////////////////// Posts
.post {
    margin-bottom: $vertical-rhythm;

    &:hover a {
        color: $red;
        transition: color 1000ms;
    }

    a {
        color: $black;
    }
}

.post__title {
    margin-bottom: 0.4em;
}

.post__metadata {
    .post__pubdate,
    .taglist {
        font-family: $font--header;
    }
}

.taglist,
.tag {
    display: inline;
}
