@charset 'UTF-8';

@import 'reset';
@import 'settings';
@import 'animations';

@import 'core/typography';

@import 'utilities/alignment';
@import 'utilities/hauntings';

@import 'layout/clearfix';
@import 'layout/grid';
@import 'layout/rhythm';

@import 'components/clock';
@import 'components/sidebar';

////////////////////////////////////////////////// Default site styles
@import 'default';

////////////////////////////////////////////////// Text styles (textiles ~~~)

body {
    width: 100%;
    height: 100%;
    min-height: 100%;
    padding: $vertical-rhythm * 2;
    padding-top: $vertical-rhythm * 4;
    padding-bottom: $vertical-rhythm * 4;
    border-right: 14px solid $black;
    border-left: 14px solid $black;

    background-color: $white;
    background-image: url('../../assets/images/flecks.png');
    background-repeat: repeat;
    background-size: auto;
}

.framed {
    background-size: 100% 100%;

    &.framed--square {
        background-image: url('../../assets/svg/square.min.svg');
    }

    &.framed--circle {
        background-image: url('../../assets/svg/circle.min.svg');
        border-radius: 50%;
    }
}

.main {
    min-height: 100%;

    position: relative;
}

.page,
.map {
    opacity: 1;

    &.invisible {
        opacity: 0;
        pointer-events: none;
    }
}

.page {
    min-height: 100%;

    transition: opacity 1000ms ease-out;
}

.map {
    width: 100%;
    height: 100%;

    text-align: center;

    transition: opacity 500ms ease-in;

    .map__room {
        width: 20%;
        height: 40px;
        border: 4px solid $white;

        display: inline-block;
        vertical-align: top;

        font-size: 12px;
        line-height: 28px;
        text-align: center;
        text-transform: uppercase;

        &.room--empty {
//            opacity: 0.2;
            background-color: $black;
        }

        &.room--current {
            background-color: $red;
            color: $white;
        }
    }
}

.menu {
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu__trigger {
    width: 60px;
    height: 60px;
    padding: 4px;
    margin-right: 1em;

    transition: background-color 200ms, opacity 200ms;
    cursor: pointer;

    &.active {
        background-color: $black;
        opacity: 1;
    }
}

.menu__title {

    span,
    time {
        margin-bottom: 0;

        font-family: $font--header;
        color: $black;
    }

    time {
        display: block;
    }
}

.splat {
    width: 100%;
    max-width: 300px;
    margin-left: auto;
    margin-right: auto;
}

/*
.navigation {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

    color: $white;
    text-align: center;
    font-family: $font--content;
}

.navigation__setaform {
    width: 80%;
    margin: 0 auto;
}

.navigation__link,
.navigation__link:hover {
    color: $black;
}
*/

.redacted {
    background-color: $black;
    color: $black;
}

////////////////////////////////////////////////// Posts
.post {
    margin-bottom: $vertical-rhythm;

    &:hover a {
        color: $red;
        transition: color 1000ms;
    }

    a {
        color: $black;
    }
}

.post__title {
    margin-bottom: 0.4em;
}

.post__metadata {
    .post__pubdate,
    .taglist {
        font-family: $font--header;
    }
}

.taglist,
.tag {
    display: inline;
}

a:hover {
    text-decoration: line-through;
}
