@charset 'UTF-8';

@import 'reset';
@import 'settings';
@import 'animations';

@import 'core/typography';

@import 'utilities/alignment';
@import 'utilities/hauntings';

@import 'layout/clearfix';
@import 'layout/grid';
@import 'layout/rhythm';

@import 'components/clock';

////////////////////////////////////////////////// Default site styles
@import 'default';

////////////////////////////////////////////////// Text styles (textiles ~~~)

body {
    width: 100%;
    height: 100%;
    min-height: 100%;
    padding: 40px;

    background-color: $white;
    background-image: url('../../assets/svg/square.min.svg'), url('../../assets/images/flecks.png');
    background-repeat: no-repeat, repeat;
    background-size: 100% 100%, auto;
}

.framed {
    background-size: 100% 100%;

    &.framed--square {
        background-image: url('../../assets/svg/square.min.svg');
    }

    &.framed--circle {
        background-image: url('../../assets/svg/circle.min.svg');
        border-radius: 50%;
    }
}

.menu {
    display: flex;
    justify-content: center;
    align-items: center;

    &:hover {
        opacity: 0.6;
    }
}

.menu__trigger {
    width: 60px;
    height: 60px;
    margin-right: 1em;

    transition: background-color 200ms, opacity 200ms;
    cursor: pointer;

    &.active {
        background-color: $black;
        opacity: 1;
    }
}

.menu__title {

    span,
    time {
        margin-bottom: 0;

        font-family: $font--header;
        color: $black;
    }

    time {
        display: block;
    }
}

.navigation {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

    color: $white;
    text-align: center;
    font-family: $font--content;
    opacity: 0;
    animation: fade-in 1000ms 500ms forwards;
}

.navigation__setaform {
    width: 80%;
    margin: 0 auto;
}

.navigation__link,
.navigation__link:hover {
    color: $black;
}

.redacted {
    background-color: $black;
    color: $black;
}

////////////////////////////////////////////////// Posts
.post {
    margin-bottom: $vertical-rhythm;

    &:hover a {
        color: $red;
        transition: color 1000ms;
    }

    a {
        color: $black;
    }
}

.post__title {
    margin-bottom: 0.4em;
}

.post__metadata {
    .post__pubdate,
    .taglist {
        font-family: $font--header;
    }
}

.taglist,
.tag {
    display: inline;
}

a:hover {
    text-decoration: line-through;
}
