include ../mixins/flash-messages

doctype html
html

  //- HTML HEADER
  head
    meta(charset="utf-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible" content="IE=edge")
    meta(name="ROBOTS", content="INDEX, FOLLOW")

    link(rel="canonical", href="http://stephenkao.com")
    meta(property="og:title", content="Stephen Kao")
    meta(property="og:type", content="blog")
    meta(name="twitter:card", content="summary_large_image")
    meta(name="twitter:site", content="@_stephenkao")
    meta(name="twitter:title", content="Stephen Kao")
    meta(name="twitter:description", content="Get out")
    meta(property="og:description", content="Get out")
    meta(name="description", content="Get out")
    meta(property="og:locale", content="en_US")
    meta(property="og:site_name", content="Stephen Kao")
    title= title || 'Stephen Kao'

    link(rel="shortcut icon", href="/favicon.ico", type="image/x-icon")

    link(href="/target/css/style.css", rel="stylesheet")

    if user && user.canAccessKeystone
      link(href="/keystone/styles/content/editor.min.css", rel="stylesheet")

    block css

    block head

  body
    .row
      aside#js_sidebar.sidebar.column.small-14.medium-5
        .row
          .column.small-14
            #js_menu.menu
              .menu__trigger.framed.framed--circle
                img.splat(src="/target/images/splat.png")
              .menu__title
                span [Antechamber]
                time xx:xx:xx

         .row
           .column.small-14
              #js_map.map.rhythm-2
                block map

      section#js_main.column.small-14.medium-9

  script(type="text/javascript", src="/target/javascript/vendor.bundle.js")
  script(type="text/javascript", src="/target/javascript/index.js")
block js
