include ../mixins/flash-messages

doctype html
html

  //- HTML HEADER
  head
    meta(charset="utf-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible" content="IE=edge")
    meta(name="ROBOTS", content="INDEX, FOLLOW")

    link(rel="canonical", href="http://stephenkao.com")
    meta(property="og:title", content="Stephen Kao")
    meta(property="og:type", content="blog")
    meta(name="twitter:card", content="summary_large_image")
    meta(name="twitter:site", content="@_stephenkao")
    meta(name="twitter:title", content="Stephen Kao")
    meta(name="twitter:description", content="La la la")
    meta(property="og:description", content="How About You Get The Hell Out of Here?")
    meta(name="description", content="La la la")
    meta(property="og:locale", content="en_US")
    meta(property="og:site_name", content="Stephen Kao")
    title= title || 'Stephen Kao'

    link(rel="shortcut icon", href="/favicon.ico", type="image/x-icon")

    link(href="/target/css/style.css", rel="stylesheet")

    if user && user.canAccessKeystone
      link(href="/keystone/styles/content/editor.min.css", rel="stylesheet")

    block css

    block head

  body(class="corruption-#{corruption}")
    .menu
      .menu__trigger.framed.framed--circle
      .menu__title
        span [Antechamber]
        span Aug14/15 09:58:32

    section.vr-1
      .row
        .column.column--center.small-12.medium-8.text--center
          h1 this is the forest primeval

    #js_main
      block content

  script(type="text/javascript", src="/target/javascript/vendor.bundle.js")
  script(type="text/javascript", src="/target/javascript/index.js")
block js
