@import 'layout/clearfix';

$gutter-width: 20px;

$row-width--max: 1440px;
$num-columns: 14;
$column-width: 60px;

@function grid-calc($column-number) {
    $result: percentage(($column-number / $num-columns));

    @if $result == 0% {
        $result: 0;
    }

    @return $result;
}

////////////////////////////////////////////////// Default structure classes
.row {
    @include clearfix();

    max-width: $row-width--max;
    margin: 0 auto;
}

.column {
    padding-left: $gutter-width / 2;
    padding-right: $gutter-width / 2;

    position: relative;
    float: left;

    &:last-child {
        float: right;
    }

    &:first-child {
        float: left;
    }

    &.centered {
        margin-left: auto;
        margin-right: auto;

        float: none;
        clear: both;
    }
}

////////////////////////////////////////////////// Column widths
@media #{$small-up} {
    .column {
        padding-left: $gutter-width;
        padding-right: $gutter-width;
    }

    @for $i from 1 through $num-columns {
        .small-#{$i} {
            width: grid-calc($i);
        }
    }
}

@media #{$medium-up} {
    @for $i from 1 through $num-columns {
        .medium-#{$i} {
            width: grid-calc($i);
        }
    }
}

@media #{$large-up} {
    @for $i from 1 through $num-columns {
        .large-#{$i} {
            width: grid-calc($i);
        }
    }
}

////////////////////////////////////////////////// Push/pull
@media #{$small-up} {
    @for $i from 1 through $num-columns {
        .small-push-#{$i} {
            left: $i * $column-width;
            right: auto;
    }

        .small-pull-#{$i} {
            left: auto;
            right: $i * $column-width;
        }
    }
}

@media #{$medium-up} {
    @for $i from 1 through $num-columns {
        .medium-push-#{$i} {
            left: $i * $column-width;
            right: auto;
    }

        .medium-pull-#{$i} {
            left: auto;
            right: $i * $column-width;
        }
    }
}

@media #{$large-up} {
    @for $i from 1 through $num-columns {
        .large-push-#{$i} {
            left: $i * $column-width;
            right: auto;
    }

        .large-pull-#{$i} {
            left: auto;
            right: $i * $column-width;
        }
    }
}
