$vertical-rhythm: 10px !default;

////////////////////////////////////////////////// Adjust vertical rhythms based on viewport widths

@media #{$small-up} {
    @for $i from 1 through 10 {
        .rhythm-#{$i} {
            margin-top: $i * $vertical-rhythm;
        }
    }
}

@media #{$medium-up} {
    @for $i from 1 through 10 {
        .rhythm-#{$i} {
            margin-top: $i * (2 * $vertical-rhythm);
        }
    }
}

@media #{$large-up} {
    @for $i from 1 through 10 {
        .rhythm-#{$i} {
            margin-top: $i * (2.5 * $vertical-rhythm);
        }
    }
}
