extends ../layouts/default
include ../mixins/separators

mixin trigram
  - var n = 0
  .trigram
    while n < 3
      if n == 0 || n == 2
        +trigram-line(true)
      else
        +trigram-line
      - n++

mixin trigram-line(yin)
  div(class=yin ? "trigram__line trigram__line--yin" : "trigram__line")

block header
  .title--page
    .row
      .twelve.columns
        i.icon.icon--shou

block content

  .baguajing
    .baguajing__outer
      .baguajing__inner
        +trigram
        +trigram
        +trigram
        +trigram
        +trigram
        +trigram
        +trigram
        +trigram
