extends ../layouts/default
include ../mixins/separators

block content
  section.division
    .row
      .column.centered.small-14.clock
        .clock__division.u-text--right
          time.clock__time MonJune15
          time.clock__time 09:45:31
        .clock__division
          p.clock__message.
            I don't think we should be here. <br />
            <a href="/">Stephen</a>'s gone. <br />
            I don't know where.

  section.division
    .row
      .column.medium-7
        h3 He's gone.  Left. Disappeared.  Vanished.
        p.
          Where?  Your guess is as good as mine.
          I’m not generally one for goodbyes, but this one was a little odd.
          In the sense that there wasn’t one at all.
        p.
          It’s not like there would have been a lot to say, honestly; he wasn’t the most talkative person in the world, but he usually spoke up if something was bothering him.
        p But—<br />
        p I know he keeps secrets.  Or “kept,” I guess at this point.  He’s been gone for so long at this point that it’s weird to continue talking about him in the present tense.  Fuck.  Time is a trip.

      .column.medium-7.u-text--center
        // img(src="http://placehold.it/300x300")
        img(src="https://scontent-lga1-1.cdninstagram.com/hphotos-xaf1/t51.2885-15/11374489_1646243385609671_493220254_n.jpg")

  section.division
    .row
      .column.medium-7.u-text--center
        // img(src="http://placehold.it/300x300")
        img(src="https://scontent-lga1-1.cdninstagram.com/hphotos-xaf1/t51.2885-15/11374489_1646243385609671_493220254_n.jpg")
      .column.medium-7
        h3 He left some <a href="/blog">notes</a>—maybe you can make better sense of them than I could.
