extends ../layouts/default
include ../mixins/separators

mixin yao(type)
  - var n = 0
  div.yao
    //- i(class="icon icon--#{type}")

    while n < 3
      if n == 0 || n == 2
        +yao-line(true)
      else
        +yao-line
      - n++

mixin yao-line(yin)
  div(class=yin ? "yao__line yao__line--yin" : "yao__line")

block content
  .division.navigation
    .tapestry

    .baguarings
      .baguaring.baguaring__outer

      .baguaring.baguaring__inner

      .baguajing
        +yao("yu")
        +yao("shou")
        +yao("bo")
        +yao("gong")
        +yao("xue")
        +yao("shou")
        +yao("bo")
        +yao("gong")

      .mirror
        .icon.icon--yu

  .division.poop
    .target.current
      .icon.icon--yu
    .target
      .icon.icon--xue
    .target
      .icon.icon--gong
    .target
      .icon.icon--bo

  .division
    h2(style="text-align: center")
      | Stephen Kao is an award-winning* insomniac who has constant anxiety attacks about where his cat pees.

  .division