extends ../layouts/default
include ../mixins/separators

block header
  .title--page
    .row
      .twelve.columns
        i.icon.icon--shou

block content

  .emblem
    i.icon.icon--gao

  h1.header--page="welcome"

  +separator(true)

  .row
    .twelve.columns
      .tiles.scroll
        a(href="/education")
          i.icon.icon--xue
        i.icon.icon--dian
        i.icon.icon--nao
        i.icon.icon--yi

        a(href="/blog")
          i.icon.icon--shu
        i.icon.icon--ci
        i.icon.icon--bo
        i.icon.icon--ke

        a(href="/work")
          i.icon.icon--gong
        i.icon.icon--yu2
        i.icon.icon--niu
        i.icon.icon--yue

        a(href="/")
          i.icon.icon--wu
        i.icon.icon--ming
        i.icon.icon--yu
        i.icon.icon--chen

  +separator(true)