extends ../layouts/default

block content
  .row
    .twelve.columns.centered
      .tiles--scripted
        i
          | n
        i
          | i
        i
          a(href="/")
            | r
        i
          | b

        i
          a(href="/#/education")
            | o
        i
          | d
        i
          | j
        i
          | q

        i
          | m
        i
          | c
        i
          a(href="/#/blog")
            | a
        i
          | h


        i
          a(href="/#/work")
            | f
        i
          | s
        i
          | k
        i
          | t
