extends ../layouts/default

block content
  .row
    .six.columns.centered
      p.scripted
        | nirb
      p.scripted
        | odjq
      p.scripted
        | mcah
      p.scripted
        | fskt
