extends ../layouts/default
include ../mixins/separators

mixin trigram(type)
  - var n = 0
  div(class=(type == "yu") ? "trigram active" : "trigram")
    i(class="icon icon--#{type}")
    while n < 3
      if n == 0 || n == 2
        +trigram-line(true)
      else
        +trigram-line
      - n++

mixin trigram-line(yin)
  div(class=yin ? "trigram__line trigram__line--yin" : "trigram__line")

block content
  .division.navigation
    .tapestry

    .baguarings
      .baguaring.baguaring__outer
      .baguaring.baguaring__inner
      .baguajing
        +trigram("yu")
        +trigram("shou")
        +trigram("bo")
        +trigram("gong")
        +trigram("xue")
        +trigram("shou")
        +trigram("bo")
        +trigram("gong")

  .division
    .icon.icon--wu
    .icon.icon--wu
    .icon.icon--wu
    .icon.icon--wu

  .division
    p
      | Stephen Kao is an award-winning* insomniac who has constant anxiety attacks about where his cat pees.

  .division