extends ../layouts/default

block content
  .row.title--page
    .twelve.columns
      .tiles--scripted
        i
          | f

  .row.rhythmic
    .ten.columns.centered
      h2 We're hiring!  Always!  And paying!  Never!
      p Currently, we're looking for motivated, independent self-starters who are legally authorized to work in the United States and who don't mind not getting paid every once in a while.
      p If this sounds like a good fit for you, check out our openings below!
      p (Insert Michael Scott interjection where you see fit.  And repeat.)

  .row.rhythmic
    .eight.columns.centered
      article.job
        h3 Litter Box Janitor
        p Starting salary: $0.05 CAD
        p Responsibilities:
        ul
          li Emptying the litter box
          li Sanitizing the litter box
          li Buying cat litter
          li Transporting cat litter

  .row.rhythmic
    .eight.columns.centered
      article.job
        h3 Cat Groomer
        p Starting salary: $0.00 CAD
        p Responsibilities:
        ul
          li Grooming cat

  .row.rhythmic
    .eight.columns.centered
      article.job
        h3 Dog Walker
        p Starting salary: $0.00 USD
        p Responsibilities:
        ul
          li Walking dog
          li Making sure dog has the best possible life
          li Grooming cat
          li Also emptying the litter box
