@import url('http://fonts.googleapis.com/css?family=Merriweather:400italic,400,300italic,300|Oxygen:400,300|Inconsolata:400|Lato:100,300,400,300italic,400italic');
@import 'fonts';

$font--primary: 'Lato', sans-serif;
$font--secondary: 'Merriweather', serif;

html {
    font-size: 62.5%;
}

body {
    font-size: 1.4rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: $font--primary;

    margin: 0;
}

h1 {
    font-size: 3rem;
}

h2 {
    font-size: 2.6rem;
}

h3 {
    font-size: 2.2rem;
}

h4 {
    font-size: 2rem;
}

h5 {
    font-size: 1.8rem;
}

h6 {
    font-size: 1.4rem;
}
