@import 'fonts';

html {
    font-size: 62.5%;
}

body {
    font-size: 1.4rem;
}

h1 {
    font-size: 5rem;
}

h2 {
    font-size: 4rem;
}

h3 {
    font-size: 3rem;
}

h4 {
    font-size: 2rem;
}

h5 {
    font-size: 1.8rem;
}

h6 {
    font-size: 1.4rem;
}
