.blog,
.jobs {
        .tiles--scripted {
                i {
		        @include fancytiles(1);

                        color: $header-font-color;

                        @media #{$large-up} {
			        font-size: 20vw;
		        }
                }
        }
}

.title--page {
	@include margin-leader(8);
	@include margin-trailer(6);
}

.post {
        margin-bottom: 4rem;
}

.post__metadata {

        @include font-size($small);

        span,
        ul,
        li {
                padding-right: 0.4em;

                display: inline;
        }
}