include ../mixins/flash-messages

doctype html
html

  //- HTML HEADER
  head
    meta(charset="utf-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible" content="IE=edge")
    meta(name="ROBOTS", content="INDEX, FOLLOW")

    link(rel="canonical", href="http://stephenkao.com")
    meta(property="og:title", content="Stephen Kao")
    meta(property="og:type", content="blog")
    meta(name="twitter:card", content="summary_large_image")
    meta(name="twitter:site", content="@_stephenkao")
    meta(name="twitter:title", content="Stephen Kao")
    meta(name="twitter:description", content="La la la")
    meta(property="og:description", content="How About You Get The Hell Out of Here?")
    meta(name="description", content="La la la")
    meta(property="og:locale", content="en_US")
    meta(property="og:site_name", content="Stephen Kao")
    title= title || 'Stephen Kao'

    link(rel="shortcut icon", href="/favicon.ico", type="image/x-icon")

    link(href="/target/css/style.css", rel="stylesheet")

    if user && user.canAccessKeystone
      link(href="/keystone/styles/content/editor.min.css", rel="stylesheet")

    //- Include template-specific stylesheets by extending the css block
    block css

    //- Add any other template-specific HEAD tags by extending the head block
    block head

  //- HTML BODY
  - var now = new Date(), hours = now.getHours(), minutes = now.getMinutes(), seconds = now.getSeconds()
  body(class=(hours > 12) ? "nighttime" : "daytime")
    header.header.division
      .row
        .column.small-14
          .inventory-trigger
            .ring.ring--outer
            .ring.ring--middle
            .ring.ring--inner

    block clock
      section.division
        .row
          .column.centered.small-14.clock
            .clock__division.u-text--right
              time.clock__time MonJune15
              time.clock__time 09:45:31
            .clock__division
              p.clock__message.
                I don't think we should be here. <br />
                <a href="/">Stephen</a>'s gone. <br />
                I don't know where.

   .main(class="#{section}")
     block content

   footer.inventory
     hr
     .row
       .column.small-14
         h2 Inventory

    script(src="target/javascript/index.js")

block js
